# IDE - JetBrains
.idea/
.ssh/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
*.log
logs/

# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Build
dist/
build/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
*.cache
cache/
downloader-config/
downloads-temp/
qbittorrent-data/
downloads/

# Temporary files
*.tmp
*.temp
*.swp
*~